.contact-container {
	background-color: #f8f7f8;
	padding: 32px 0 32px 0;
	background: url('../../img/contact-bg.jpg') no-repeat;
	background-size: cover;
	a {
		text-decoration: none;
	}
	.card-located {
		.MuiTypography-h4, .MuiTypography-colorSecondary {
			font-family: 'Courier New', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
		}
		display: flex;
		margin: 0 16px 0 0;
		h2 {
			font-size: 50px;
			display: flex;
			justify-content: center;
			margin: 0 0 8px 0;
			font-family: 'Courier New', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
			@media(max-width:900px){
				font-size: 40px;
			}
			@media(max-width:730px){
				font-size: 35px;
				font-weight: bold;
			}
			@media(max-width:660px){
				font-size: 30px;
			}
			@media(max-width:599px){
				font-size: 40px;
				font-weight: 400;
			}
			@media(max-width:425px){
				font-size: 30px;
				font-weight: bold;
			}
		}
		blockquote {
			padding: 0 16px;
			margin: 16px 0;
			p {
				font-family: 'Courier New', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
				font-size: 25px;
				@media(max-width:1024px){
					font-size: 20px;
				}
				@media(max-width:800px){
					font-size: 18px;
				}
				@media(max-width: 730px){
					font-size: 15px;
				}
				@media(max-width: 599px){
					font-size: 17px;
				}
				@media(max-width: 425px){
					font-size: 15px;
				}
			}
		}
		.feedback {
			font-size: 17px;
			font-family: 'Courier New', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
			@media(max-width:730px){
				font-size: 15px;
			}
		}
		.contact-info{
			p{
				font-family: 'Courier New', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
				@media(max-width: 890px){
					font-size: 18px;
				}
				@media(max-width: 800px){
					font-size: 16px;
				}
				@media(max-width: 730px){
					font-size: 14px;
				}
				@media(max-width: 630px){
					font-size: 12px;
				}
				@media(max-width: 599px){
					font-size: 18px;
				}
				@media(max-width: 425px){
					font-size: 14px;
				}
			}
		}
		.located-info {
			padding: 16px;
			.number {
				margin: 8px0 0 0;
				user-select: all;
				@media(max-width: 730px){
					span{
						font-size: 24px;
					}
				}
				@media(max-width: 599px){
					span{
						font-size: 28px;
					}
				}
				@media(max-width: 425px){
					span{
						font-size: 24px;
					}
					svg{
						font-size: 17px;
					}
				}
			}
			.mail {
				user-select: all;
				svg {
					margin: 0 8px 0 0;
				}
				@media(max-width: 959px){
					span{
						font-size: 18px;
					}
				}
				@media(max-width: 890px){
					span{
						font-size: 16px;
					}
				}
				@media(max-width: 830px){
					span{
						font-size: 14px;
					}
				}
				@media(max-width: 710px){
					span{
						font-size: 12px;
					}
				}
				@media(max-width: 645px){
					span{
						font-size: 10px;
						font-weight:bold;
					}
				}
				@media(max-width: 599px){
					span{
						font-size: 16px;
						font-weight:400;
					}
				}
				@media(max-width: 425px){
					span{
						font-size: 12px;
						font-weight:400;
					}
					svg{
						font-size:17px;
					}
				}
			}
		}
	}
	.area{
		position: relative;
		.map {
			position: absolute; 
			right:0;
			top:0;
			bottom:0;
			width: 100%;
			iframe{
				width: 100%;
				height: -webkit-fill-available;
			}
			@media(max-width:600px){
				position: relative;
				margin: 20px 15px 0 0;
				height:400px;
			}
		}
	}
	
}