nav {
	background-color: #eee3ee;
	.nav-container {
		padding: 24px 0;
		a {
			text-decoration: none;
			&:hover {
				text-decoration: none;
			}
		}
		button{
			font-family:'Courier New', 'Roboto', 'Oxygen','Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',sans-serif;
			font-weight:bold;
		}
		@media (max-width: 599px) {
			padding: 24px 0 8px 0;
			div {
				justify-content: center;
				img {
					margin: 0 0 24px 0;
				}
				button {
					font-size: 20px;
					width: 250px;
				}
			}
		}
	}
}